subscription_id       = "00000000-0000-0000-0000-000000000000"
tenant_id             = "00000000-0000-0000-0000-000000000000"
location              = "westeurope"
resource_group_name   = "rg-ticketabnet-prod"
web_app_name          = "ticketabnet"
github_owner          = "imanuelt"
github_repo           = "ticketingabnet"
github_branch         = "master"
github_environment    = "Production"
cosmos_account_name   = "ticketabnetcosmos"
cosmos_database_name  = "ticketingdb"
cosmos_container_name = "ticketingdbcont"
key_vault_name        = "kvticketabnetprod"
